<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0  
                               http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository />
	<interactiveMode />
	<usePluginRegistry />
	<offline />
	<pluginGroups />
	<servers>
		<server>
			<id>alipay releases</id>
			<username>pinian.lpn</username>
			<password>123</password>
		</server>
		<server>
			<id>alipay snapshots</id>
			<username>pinian.lpn</username>
			<password>123</password>
		</server>
	</servers>
	<proxies />
	<profiles>
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>central_prod</id>
					<url>http://mvn.test.alipay.net:8080/artifactory/repo</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central</id>
					<url>http://mvn.test.alipay.net:8080/artifactory/repo</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>snapshots</id>
					<url>http://mvn.dev.alipay.net:8080/artifactory/repo</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>repo1.maven.org</id>
					<name>Maven Repository Switchboard</name>
					<url>http://repo1.maven.org/maven2</url>
				</repository>
				<repository>
					<id>jboss</id>
					<name>Plugin Repository for Local Nexus Server</name>
					<url>http://repository.jboss.org/nexus/content/groups/public</url>
				</repository>
				<repository>
					<id>springframework</id>
					<name>Spring Framework Maven Release Repository</name>
					<url>http://maven.springframework.org/release</url>
				</repository>
				<repository>
					<id>google-maven-snapshot-repository</id>
					<name>Google Maven Snapshot Repository</name>
					<url>https://m2repos.googlecode.com/svn/nexus/</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://mvn.test.alipay.net:8080/artifactory/repo</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>repo1.maven.org</id>
					<name>Maven Repository Switchboard</name>
					<url>http://repo1.maven.org/maven2</url>
				</pluginRepository>
				<pluginRepository>
					<id>sonatype</id>
					<name>Plugin Repository for Local Nexus Server</name>
					<url>https://repository.sonatype.org/content/groups/public/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
</settings>