<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	
	<!-- =========================dubbo信息配置======================== -->	

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="bai-srv-ucenter" owner="linpn" />

	<!-- 注册中心 -->
	<dubbo:registry address="${dubbo.registry.address}" file="${user.dir}/logs/dubbo-registry.cache"/>
	
	<!-- 监控中心，从注册中心发现监控中心地址 -->
	<dubbo:monitor protocol="registry"/>

	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" serialization="java" />
	
	<!-- 服务提供方缺省配置 -->
	<dubbo:provider timeout="10000" register="${dubbo.provider.register}" />
	
	
	<!-- ===================================后台服务提供者================================== -->
	
	<!-- 后台管理员 -->
	<dubbo:service interface="com.baixc.ucenter.service.admin.AdminsService" ref="adminsService" version="1.0" />
	
	<!-- 后台用户角色 -->
	<dubbo:service interface="com.baixc.ucenter.service.admin.RolesService" ref="rolesService" version="1.0" />
	
	<!-- 后台应用模块-->
	<dubbo:service interface="com.baixc.ucenter.service.admin.ModulesService" ref="modulesService" version="1.0" />
	
	
	<!-- ===================================前台服务提供者================================== -->
	
	<!-- 前台用户 -->
	<dubbo:service interface="com.baixc.ucenter.service.user.UserService" ref="userService" version="1.0" />
	
	<!-- 区域管理 -->
	<dubbo:service interface="com.baixc.ucenter.service.user.CityService" ref="userService" version="1.0" />
		
</beans>